.pagination {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}

.pagination ul {
    margin: 0 !important;
    padding: 0 !important;
}

.pagination ul li {
    list-style: none !important;
    float: left;
    margin: 0 20px 0 0;
}

.pagination ul li a {
    padding: 8px 15px;
    background: #b80000;
    color: #fafafa;
    /* border: none; */
}

.col-md-12 {
    width: 100%;
}

.col-md-6 {
    width: 50%;
    display: block;
    float: left;
}
